.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    /* quebra os elementos em outra linha quando chega ao final da tela */
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}